<header class="c-header">
    <div class="c-header__logo">Beside the park</div>
    <nav class="c-nav u-hidden">
        <div class="c-nav__icon c-nav__search js-nav-search"></div>
        <input class="c-nav__search-input u-hidden js-nav-search-input" type="text" name="search" />
        <div class="c-nav__icon c-nav__toggle js-nav-toggle"></div>
        <ul class="c-nav__dropdown u-hidden js-nav-dropdown">
            <li class="c-nav__dropdown-item">Lorem Ipsum</li>
            <li class="c-nav__dropdown-item">Lorem Ipsum</li>
            <li class="c-nav__dropdown-item">Lorem Ipsum</li>
            <li class="c-nav__dropdown-item">Lorem Ipsum</li>
        </ul>
    </nav>
</header>