<header class="c-header">
    <div class="c-header__logo">Beside the park</div>
    <nav class="c-nav u-hidden">
        <div class="c-nav__icon c-nav__search"></div>
        <div class="c-nav__icon c-nav__toggle"></div>
    </nav>
</header>