<header class="c-header">
    <div class="c-header__logo">Beside the park</div>
    <nav class="c-nav u-hidden">
        <div class="c-nav__icon c-nav__search"></div>
        <input class="c-nav__search-input u-hidden" type="text" name="search" />
        <div class="c-nav__icon c-nav__toggle"></div>
        <ul class="c-nav__dropdown u-hidden">
            <li class="c-nav__dropdown-item">Item 1</li>
            <li class="c-nav__dropdown-item">Item 2</li>
            <li class="c-nav__dropdown-item">Item 3</li>
            <li class="c-nav__dropdown-item">Item 4</li>
        </ul>
    </nav>
</header>