{{#extend "layout"}}
	{{#content "body"}}
    <main>
        <section class="o-section c-hero">
            <div class="c-hero__content">
                <h1 class="c-hero__title">Lorem ipsum</h1>
                <p class="c-hero__line">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <img class="c-hero__img" src="/img/iphone-mobile.png" alt="iphone" />
        </section>
        <section class="o-section c-about-us">
            <h2 class="o-section__title">Lorem ipsum</h2>
            <div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                <p>dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</p>
            </div>
            <div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness</p>
            </div>
        </section>
        <section class="o-section c-learn-more">
            <div class="c-learn-more__item c-learn-more__item_fill-1">
                <h3 class="c-learn-more__title">Build to last</h3>
                <p class="c-learn-more__desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                <a href="#">lorem ipsum</a>
            </div>
            <div class="c-learn-more__item c-learn-more__item_fill-2">
                <h3 class="c-learn-more__title">Our clients</h3>
                <p class="c-learn-more__desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                <a href="#">lorem ipsum</a>
            </div>
            <div class="c-learn-more__item c-learn-more__item_fill-3">
                <h3 class="c-learn-more__title">Sign up &amp; see why</h3>
                <p class="c-learn-more__desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                <a href="#">lorem ipsum</a>
            </div>
            <div class="c-learn-more__item c-learn-more__item_fill-4">
                <h3 class="c-learn-more__title">Perfect pictures</h3>
                <p class="c-learn-more__desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                <a href="#">lorem ipsum</a>
            </div>
        </section>
    </main>
	{{/content}}
{{/extend}}