<!doctype html>
<html>
  <head>
    <title>Beside the Park</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <header class="c-header">
        <div class="c-header__logo">Beside the park</div>
        <nav class="c-nav u-hidden">
            <div class="c-nav__icon c-nav__search"></div>
            <div class="c-nav__icon c-nav__toggle"></div>
        </nav>
    </header>
    {{#block "body"}}{{/block}}
  </body>
</html>