normalize-css()
base()

body
    color #ffffff
    position relative
h1
h2
h3
    font-weight 200
h1
h2
    font-size 32px
h3
    font-size 26px
h1
    margin-bottom 30px
h2
    margin-bottom 50px
h3 
    margin-bottom 20px
a
    link()
    font-weight 600
a
a:hover
    color inherit
    border 0
p
    paragraph()
    margin-bottom 30px
ul
    list-style none   
.c-btn 
    display inline-block
    padding 15px 0
    position relative 
    overflow hidden
    transition all .5s
.c-btn:focus,
.c-btn:active,
.c-btn:focus:active 
    outline none
.c-btn span
    opacity .7
    display inline-block
    -webkit-backface-visibility hidden
    -moz-backface-visibility hidden
    backface-visibility hidden
    transition all .5s
.c-btn:hover span 
    -webkit-transform translateY(300%);
    -moz-transform translateY(300%);
    -ms-transform translateY(300%);
    transform translateY(300%);
.c-btn:before
    content attr(data-title)
    position absolute
    left 0
    padding inherit
    top -100%
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    transition all 0.3s
.c-btn:hover:before 
    top 0
.o-section
    padding 30px
.o-section__content
    max-width 1200px
    margin 0 auto
.u-60
    width 60%
.u-hidden
    display none
    
@media all and (min-width: 450px)
    .o-section
        padding 50px

@media all and (min-width: 768px)
    .u-col-1
        width 45%
    .u-col-2
        columns 2 45% 30px

@media all and (min-width: 992px)
    .o-section
        padding 80px
        