.c-header 
	position fixed
	top 0
	left 0
	width 100%
	padding 35px 0
	background-color rgba(255,255,255,.7)
	z-index 1

.c-header__logo
	text-align center	
	color $brand-color
	font-size 32px
	font-weight 600
	