.c-header 
    position fixed
    top 0
    left 0
    width 100%
    padding 37px 0
    background-color rgba(255,255,255,.7)
    z-index 1
    transition all .5s

.c-header-hide
    top -100%

.c-header__logo
    text-align center   
    color $brand-color
    font-size 41px
    font-weight 700
    
.c-nav
    position absolute
    top 0
    right 50px

.c-nav__icon
    height 109px
    width 85px
    display inline-block
    background-repeat no-repeat
    background-position 50% 50%
    background-size 25%
    cursor pointer
    
.c-nav__search
    background-image url('/img/search-icon.png')

.c-nav__toggle
    background-image url('/img/toggle-icon.png')
    
.c-nav__close
    background-image url('/img/close-icon.png')

.c-nav__search-input
    position absolute
    left 0
    top 109px
    border 0
    padding 15px 20px
    margin 3px
    background-color rgba(255,255,255,.7)
    color #222626

.c-nav__search-input:focus
    outline #ffffff auto 5px

.c-nav__dropdown
    position absolute
    margin 0
    padding 0
    top 109px
    right -25px
    width 100%

.c-nav__dropdown-item
    background-color rgba(255,255,255,.7)
    color #222626
    text-align center
    padding 15px 20px
    margin 3px
    cursor pointer
    transition()
    hover-darken()

@media all and (min-width: 768px)
    .c-nav
        display block
        
@media all and (min-width: 1030px)
    .c-nav__icon
        width 115px
