.c-header 
    position fixed
    top 0
    left 0
    width 100%
    padding 35px 0
    background-color rgba(255,255,255,.7)
    z-index 1

.c-header__logo
    text-align center   
    color $brand-color
    font-size 32px
    font-weight 600
    
.c-nav
    position absolute
    top 0
    right 50px

.c-nav__icon
    height 109px
    width 85px
    display inline-block
    background-repeat no-repeat
    background-position 50% 50%
    background-size 25%
    
.c-nav__search
    background-image url('/img/search-icon.png')

.c-nav__toggle
    background-image url('/img/toggle-icon.png')

.c-nav__dropdown
    position absolute
    right -25px
    width 100%

.c-nav__dropdown-item
    background-color rgba(255,255,255,.7)
    color #222626
    text-align center
    padding 15px 20px
    margin 3px

@media all and (min-width: 768px)
    .c-nav
        display block
        
@media all and (min-width: 1030px)
    .c-nav__icon
        width 115px
