.c-hero
    position relative
    padding-top 200px
    padding-bottom 200px
    bg 'hero-bg-mobile.jpg'
    background-size cover
    
.c-hero__title
    font-weight 600
    color rgba(255,255,255,.8)

.c-hero__img
    absolute()
    left 50%
    bottom -8%
    max-height 40%
    transform translate3d(-50%,0,0)

.c-about-us
    color #959595
    
.c-about-us .o-section__title
    color #222626

.c-learn-more
    padding-top 0

.c-learn-more__item
    padding 30px
    box-sizing border-box
    transition()
    
.c-learn-more__title
    margin-top 0

.c-learn-more__title
.c-learn-more__desc
    color rgba(255,255,255,.9)

.c-learn-more__item_fill-1
    background-color #43463e
    hover-lighten()

.c-learn-more__item_fill-2
    background-color #37461d
    hover-lighten()

.c-learn-more__item_fill-3
    background-color #091e28
    hover-lighten()

.c-learn-more__item_fill-4
    background-color #73933c
    hover-lighten()
    
@media all and (min-width: 450px)
    .c-hero__content
        width 60%
    .c-hero__img
        max-height 65%
        left auto
        right 5%
        bottom auto
        top 55%
        transform translate3d(0,0,0)
    .c-learn-more__item
        padding 50px    
        
@media all and (min-width: 768px)
    .c-hero
        border-bottom 3px solid #86b640
        background-image url('/img/hero-bg-desktop.jpg')
    .c-hero__content
        width 50%
    .c-hero__img
        max-height 85%
        right auto
        left 40%
        top 40%

@media all and (min-width: 992px)
    .c-hero__content
        width 40%
    .c-hero__img
        left 50%
    .c-learn-more__row
        display flex
    .c-learn-more__item_30
        width 33.33%
    .c-learn-more__item_60
        width 66.66%
    .c-learn-more__item_60 .c-learn-more__desc
        width 60%
